- current_theme_override 'mastodon-light'

- content_for :header_tags do
  = stylesheet_pack_tag 'hsjz-homepage-auth', media: 'all', crossorigin: 'anonymous'
  = javascript_pack_tag 'public', crossorigin: 'anonymous'
  = javascript_pack_tag 'hsjz-homepage-auth', crossorigin: 'anonymous'

- content_for :content do
  .container-alt
    .logo-container
      %h1
        = link_to root_path do
          = logo_as_symbol(:wordmark)
      = render 'hsjz/desc'

    .form-container
      = render 'flashes'

      = yield

= render template: 'layouts/application'
